@import './_reset-styles.styl'
@import './_tokens.styl'

html
	font-family ffPrimary

.header
	background-image url('../images/mobile/image-header.jpg')
	background-repeat no-repeat
	background-size 100% 100%
	padding 20px
	&__navbar
		display flex
		justify-content space-between
		align-items center
		&__links
			position absolute
			display none
			flex-direction column
			align-items center
			border-radius 5px
			right 0
			left 0
			top 100px
			margin 0 auto
			width 80vw
			max-width 400px
			padding 20px
			background-color white
			&__item
				margin 10px
				color grayishBlue
				text-decoration none
				&.contact
					font-family ffSecondary
					color veryDarkDesaturatedBlue
					background-color yellow
					padding 15px 30px
					border-radius 30px
			&.active
				display flex
		&__logo
			width 150px
			height 30px
	&__hero
		text-align center
		margin 80px auto
		&__title
			font-family ffSecondary
			font-weight fwExtraBold
			font-size 3.4rem
			text-transform uppercase
			letter-spacing 8px
			color white

.description__item
	text-align center
	padding 50px 20px
	&__title
		font-family ffSecondary
		font-size 3rem
		color veryDarkDesaturatedBlue
		max-width 320px
		margin 0 auto
	&__text
		color darkGrayishBlue
	a
		font-family ffSecondary
		font-size 2rem
		color veryDarkDesaturatedBlue
		text-decoration underline yellow 4px
	&--graphic
		background-image url('../images/mobile/image-graphic-design.jpg')
		background-size 100% auto
		padding-top 100%
		background-repeat no-repeat
		text-align center
		color darkDesaturatedCyan
		padding-left 20px
		padding-right 20px
		&__title
			font-family ffSecondary
			font-size 3rem


@media screen and (min-width 500px)
	.header
		background-image url('../images/desktop/image-header.jpg')
		background-size auto 100%
		background-position-x center

@media screen and (min-width 720px)
	.header
		background-size auto 120%
		background-position-y -90px
		background-color blue
		height 600px
		&__navbar
			&__links
				display block
				position static
				margin 0
				flex-direction row
				max-width 455px
				background-color blue
				&__item
					color white
					&.contact
						background-color white
						&:hover
							background-color #ffffffbb
			&__hamburger
				display none
		&__hero
			margin-left 10px
			&__title
				margin-top -30px
				margin-bottom 30px